/* Override */
aside {
    /*flex-direction: row !important;*/
}

/*#root {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*#root > iframe {*/
    /*display: block;*/
    /*height: calc(100vh - 30px);*/
    /*width: 100%;*/
    /*border: none;*/
/*}*/

#searchWindow {
    width: 120px;
    height: 32px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/favicons/698627-icon-111-search-30.png');
    background-position: -2px -2px;
    background-repeat: no-repeat;
    margin: 10px 10px 0px 10px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchItem {
    width: 120px;
    height: 32px;
    background-color: #0f9d58;
    margin: 0px 10px 0px 10px;
    color: white;
    text-align: center;
    font-size: 0.9em;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
width: 100%;
}

#items {
    margin: 30px 10px 0px 30px;
}


