@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
:root{
    --main-cloud: #ecf0f1;
    --main-emerland : #2ecc71;
    --main-belizehole : #2980b9;
    --main-dark: #494949;
    --main-peterriver: #3498db;
    --main-lightgrey: lightgrey;
}

*{
    padding: 0;
    margin:0;
}

html{
    font-size: 16px;
    height: 100%;
}

body{
    font-size: 100%;
    min-height: 100%;
    position: relative;
}

header, section, footer, aside, nav, main, article, figure, div {
    font-family: 'Noto Sans', sans-serif;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}

header{
    background: var(--main-dark);
    color: #FFFFFF;
}

header .row>div{
    display: flex;
    align-items: center;
}

header>div{
    margin: .3rem 0;
}

header a{
    color: #FFFFFF;
    text-underline: none;
}

.logo{
    display: block;
}

.logo img{
    max-width: 60px;
}

#langs span{
    color: yellow;
    font-weight: bold;
    padding-right: 1em;
}

#langs li{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .7em;
}

#langs a{
    text-decoration: none;
}

nav {
    background: var(--main-belizehole);
    color: #FFFFFF;
}

main{
    background: var(--main-cloud);
}

section{
    padding-bottom: 9rem;
}

article{
    display: flex;
    background: var(--main-lightgrey);
    margin-bottom: 5px;
}

article:last-child{
    margin: 0;
}

.article-image img{
    width: 100px;
    height: 100px;
}

.article-description{
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}

.article-buy{
    flex: 1;
    align-items: center;
}

.btn{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border: none;
    border-radius: 2px;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.article-buy a, input[type='submit']{
    background-color: #0f9d58;
    color: #fff;
}

.article-buy input[type='number']{
    border: none;
    width: 120px;
    height: 32px;
}

.title{
    display: flex;
    padding: 1em;
}

.title h3{
    margin: 0 auto;
}

aside{
    background: var(--main-peterriver);
}

footer{
    background: var(--main-dark);
    color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.section-content{
    margin: 1em auto;
}

.list-unstyled{
    list-style: none;
}

.user-data a{
    text-decoration: none !important;
    margin-left: auto;
}

#cart{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.user-cart{
    flex-direction: column;
}

.user-cart>div{
    align-items: center;
}

.user-cart ul{
    width: 100%;
}

.user-cart li{
    list-style: none;
    padding: 1em;
    border-top: 1px solid #999999;
    border-bottom: 1px solid rgba(146, 146, 146, 0.6);
}

.user-cart li:first-child{
    border-top: none;
}

.user-cart form{
    text-align: center;
    padding: 1em;
}

.cart-item{
    background:  #fff;
}

.cart-item .thumbnail{
    max-width: 50px;
    max-height: 50px;
    margin-right: 1em;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.cart-item div{
    display: flex;
    align-content: center;
}

.cart-item-details div{
    flex-direction: column;
}

.item-name{
    font-weight: bold;
}

.item-count input[type='number']{
    width: 35;
    height: 20px;
}


.search input[type=text]{
    border: none;
    background: var(--main-dark);
    color: white;
    width: 100%;
}

.search input:focus{
    outline: none;
}

.nav-list li{
    display: inline;
    margin: .7em;
    text-transform: UPPERCASE;
}

.user-login{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    margin: 1em auto;
    padding: 1em;
}

.login-input
{
    position: relative;
    margin-bottom:45px;
    margin-top: 12px;
}

.address-input input, .login-input input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #3f51b5;
    border-radius: 0px;
}

.address-input input:focus, .login-input input:focus
{
    outline:none;
}

.login-input label
{
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.address-input{
    margin: 1em 0;

}

.sectionOverview {
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
}

.productImage {
    margin-right: 10px;
}

.shortSpecification {
    margin-right: 30px;
    padding: 10px;
}

.longSpecification {
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
}

.total-price{
    text-align: right;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
}

.payment-options{
    display: block;
    text-align: left;
}

.payment-options h3{
    margin: 1em 0;
}

/*from 62em to smaller*/
@media only screen and (max-width: 62em) {

    .hidden-sm, .hidden-xs{
        display: none !important;
    }

    .reverse-sm{
        flex-direction: column-reverse;
    }
}

/*from 48em to bigger*/
@media only screen and (min-width: 48em) {
    .logo img{
        max-width: 170px;
    }
}

@media only screen and (min-width: 62em) {
    .hidden-md{
        display: none !important;
    }
}

@media only screen and (min-width: 75em) {
    .hidden-lg{
        display: none !important;
    }
}